html {
	min-height: 100%;
}

body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	color: #333;
	font-size: 13px;
	font-family: Roboto, sans-serif;
	line-height: 19px;
	background: #2f2f2f url('./img/background.jpg') 50%;
	background-size: cover;
}

.root {
	width: 340px;
	margin: 100px auto;
}

.card {
	border-radius: 4px;
	overflow: hidden;
	background: #fff;
	box-shadow: 0 22px 50px rgba(14, 21, 47, 0.2), 0 8px 20px rgba(14, 21, 47, 0.2);
}

.card__top {
	padding: 20px 20px 30px;
	text-align: center;
}

.card__dots {
	margin-bottom: 10px;
}

.card__title {
	font-weight: 500;
	font-size: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.dots__item {
	display: inline-block;
	width: 6px;
	height: 6px;
	margin: 0 2px;
	border-radius: 50%;
	vertical-align: top;
	background: #dedede;
}

.dots__item_active {
	background: #aaa;
}

.options {
	border-top: 1px solid #dedede;
}

.options__item {
	position: relative;
	display: flex;
	align-items: center;
	padding: 15px 45px 15px 30px;
	border-bottom: 1px solid #dedede;
	cursor: pointer;
	transition: background 0.15s ease-in-out;
}

.options__item_active .options__text {
	color: #000;
}

.options__item_active::after {
	position: absolute;
	top: 50%;
	right: 15px;
	width: 20px;
	height: 20px;
	margin-top: -10px;
	background: url('./img/check.svg');
	background-size: contain;
	content: '';
}

.options__item:last-child {
	border-bottom: 0;
}

.options__item:hover {
	background: #f1f1f1;
}

.options__icon {
	width: 40px;
	margin-right: 20px;
}

.options__text {
	flex-grow: 1;
	color: #aaa;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.button {
	position: relative;
	display: block;
	padding: 15px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background: #5a8bdd;
	transition: background 0.15s ease-in-out;
}

.button:hover {
	background: #558ef3;
}

.button:active {
	top: 1px;
}

.button__text {
	display: inline-block;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
	vertical-align: middle;
}

.button__icon {
	display: inline-block;
	height: 14px;
	vertical-align: middle;
}
