/* 	==================================================
		Global Styles
		================================================== */

body {
	display: flex;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	color: hsla(180, 5.95%, 63.73%, 1);
}

h1 {
	font-size: 3rem;
	font-weight: 300;
	color: black;
}

section {
	width: 60%;
	margin-top: 6rem;
	flex-direction: column;
	min-height: calc(100vh - 6rem);
}

/* 	==================================================
		Composition
		================================================== */

.background-image {
	width: 40%;
	background-image: url("img/side.jpg");
	background-size: cover;
}

/* 	==================================================
		Utilities
		================================================== */

.container {
	padding-right: 6rem;
	padding-left: 6rem;
}

.flow-section > * + * {
	margin-top: 6rem;
}

.flow-content > * + * {
	margin-top: 1rem;
}

.flex {
	position: relative;
	display: flex;
}

/* 	==================================================
		Blocks
		================================================== */

/* 	Buttons
   	================================================== */

button {
	width: 100%;
	padding: 1.5em 2em;
	border: 1px solid darkgray;
	border-radius: 0.25em;
	background-color: white;
	font-weight: 700;
	text-transform: uppercase;
	color: inherit;
	cursor: pointer;
}

img {
	position: absolute;
	top: 50%;
	left: 1.5em;
	transform: translateY(-50%);
}

/* 	Footer
   	================================================== */

footer.flex {
	padding-top: 3rem;
	padding-bottom: 3rem;
	border-top: 1px solid darkgray;
	margin-top: auto;
	font-weight: 700;
	color: black;
	justify-content: space-between;
}

footer button {
	padding: 0;
	border: none;
	max-width: max-content;
}
