body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	overflow: hidden;
	font-family: "Roboto", sans-serif;
	background-color: #2575b0;
}

form {
	width: 40em;
	padding: 2em;
	border-radius: 1em;
	overflow: hidden;
	background-color: white;
}

fieldset {
	border: none;
}

label {
	width: 100%;
}

.flow > * + * {
	margin-top: 2em;
}

.index {
	display: flex;
	gap: 1em;
	align-items: flex-end;
}

/* Form one */
.index input {
	flex: 2 0 auto;
	width: 100%;
	padding: 0.5em;
	border: none;
	border-bottom: 2px solid grey;
}

.index button {
	flex: 1 0 auto;
	padding: 0.75em 1em;
	border: none;
	border-radius: 0.5em;
}

/* Form 2 */
.tabs {
	display: flex;
}

.tabs > * {
	flex-basis: 100%;
}

.tabs button {
	display: inline-block;
	width: 100%;
	padding: 0.75em 1em;
	border: none;
	color: inherit;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	background-color: inherit;
}

.contents {
	display: grid;
}

.contents > * {
	grid-area: 1 / 1 / 1/ 1;
	margin-top: 1em;
	text-align: center;
}

[aria-selected] {
	font-weight: 700;
}
