body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	overflow: hidden;
	font-weight: 700;
	font-family: "Roboto", sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	background-image: url("img/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	margin-bottom: 1.5em;
	font-weight: 400;
	font-size: 1.5rem;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 25em;
	border-radius: 0.5em;
	overflow: hidden;
	background-color: white;
}

label {
	position: relative;
	display: flex;
	width: 100%;
	border-top: 1px solid grey;
}

input {
	width: 100%;
	padding: 1.5em;
	border: none;
}

input::placeholder {
	padding-left: 5em;
	letter-spacing: 1px;
	text-transform: uppercase;
}

img {
	position: absolute;
	top: 50%;
	left: 2em;
	width: 3em;
	transform: translateY(-50%);
}

button {
	width: 100%;
	padding: 1.5em;
	border: none;
	color: white;
	letter-spacing: 1px;
	text-transform: uppercase;
	background-color: #5081d8;
}

.dot {
	display: inline-block;
	width: 0.5em;
	height: 0.5em;
	margin-top: 1em;
	margin-bottom: 1em;
	border-radius: 50%;
	background-color: rgba(187, 187, 187, 0.5);
}
