body {
	font-size: 14px;
	background: #74b9ff;
}

.container {
	width: 400px;
	margin: 100px auto 0;
	padding: 20px;
	border: 1px solid #dedede;
	border-radius: 4px;
	font-family: Arial, sans-serif;
	background: #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

.segmented-control__button {
	position: relative;
	padding: 10px;
	border: 2px solid #5896ff;
	border-left: 0;
	background: #fff;
	cursor: pointer;
}

.segmented-control__button:hover {
	background: rgba(88, 150, 225, 0.2);
}

.segmented-control__button:first-child {
	border-left: 2px solid #5896ff;
	border-radius: 4px 0 0 4px;
}

.segmented-control__button:last-child {
	border-radius: 0 4px 4px 0;
}

.segmented-control__button--active,
.segmented-control__button--active:hover {
	color: #fff;
	background: #5896ff;
}

.segmented-control__select {
	display: none;
	width: 100%;
	height: 36px;
	border: 2px solid #5896ff;
	background: transparent;
}

.segmented-control__button:focus,
.segmented-control__select:focus {
	z-index: 2;
	outline: none;
	box-shadow: 0 0 0 2px rgba(88, 150, 225, 0.4);
}

@media screen and (max-width: 500px) {
	.segmented-control__row {
		display: none;
	}

	.segmented-control__select {
		display: block;
	}
}
