:root {
	/* colors */
	--clr-primary-100: #767676;
	--clr-primary-400: #4f68c6;

	/* spacing */
	--spacer: 1.5em;

	/* font weight */
	--fw-400: 400;

	/* font size */

	--fs-400: 1rem;

	/* font family */
	--ff-body: "Roboto", sans-serif;
}

/* ==========================================================
Global styles
========================================================== */
body {
	background-color: #799bcf;
	font-family: var(--ff-body);
	font-size: var(--fs-400);
	font-weight: var(--fw-400);
	line-height: 1.8;
	color: var(--clr-primary-100);
}

.container {
	display: grid;
	width: 40%;
	margin-top: 15em;
	margin-right: auto;
	margin-left: auto;
}

form {
	border-radius: 1em;
	display: flex;
	justify-content: center;
	padding: 2em;
	background-color: #fff;
}

/* ==========================================================
Utilities
========================================================== */

.accent {
	--bg: var(--clr-primary-400);
	--fg: #fff;
}

/* ==========================================================
Blocks
========================================================== */

/* large screen form */
.large-screen {
	grid-area: 1 / 1 / 1 / 1;
}

button {
	border: solid 2px var(--clr-primary-400);
	background-color: var(--bg, inherit);
	color: var(--fg, inherit);
}

button:first-of-type {
	border-radius: 0.5em 0 0 0.5em;
	border-right: 0;
}

button:last-of-type {
	border-radius: 0 0.5em 0.5em 0;
	border-left: 0;
}

/* small screen form */
.small-screen {
	display: none;
	grid-area: 1 / 1 / 1 / 1;
	width: 100%;
}

select {
	border: solid 2px var(--clr-primary-400);
	width: 100%;
	color: inherit;
}

/* Adjust form visibility */
@media (max-width: 800px) {
	.container {
		width: 80%;
	}

	.small-screen {
		display: initial;
	}

	.large-screen {
		display: none;
	}
}
